Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Werkzeug==2.3.7
requests==2.31.0
Flask-WTF==1.2.1
WTForms==3.1.2
Pytest
pyyaml==6.0.1
fhir.resources==8.0.0
Flask-Migrate==4.1.0
cachetools
beautifulsoup4
feedparser==6.0.11
flasgger