{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='FHIRFLARE.png') }}" alt="FHIRFLARE Ig Toolkit" width="512" height="512">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to {{ site_name }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Simple tool for importing, viewing, and validating FHIR Implementation Guides.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center flex-wrap"> 
            <a href="{{ url_for('import_ig') }}" class="btn btn-primary btn-lg px-4 gap-3 mb-2">Import FHIR IG</a>
            <a href="{{ url_for('view_igs') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">Manage FHIR Packages</a> 
            <a href="{{ url_for('push_igs') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">Push IGs</a> 
            <a href="{{ url_for('upload_test_data') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">Upload Test Data</a>
            <a href="{{ url_for('validate_sample') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">Validate FHIR Sample</a>
            <a href="{{ url_for('fhir_ui') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">FHIR API Explorer</a>
            <a href="{{ url_for('fhir_ui_operations') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">FHIR UI Operations</a>
            <a href="{{ url_for('fsh_converter') }}" class="btn btn-outline-secondary btn-lg px-4 mb-2">FSH Converter</a>
            <a href="{{ url_for('about') }}" class="btn btn-outline-info btn-lg px-4 mb-2">About</a>
        </div>
    </div>
</div>
{% endblock %}